.head{
  display: flex;
  justify-content: space-between;
  font-size: larger;
  border-bottom: solid black;
}

.body{
  display: flex;
}

.list-body{
  margin-top: auto;
  flex-grow: 1;
}

.outlier-body{
  flex-grow: 1;
}

